/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    padding: 0;
    margin: 0;
}

form {
    max-width: 30em;
    margin: 4em auto;
    position: relative;
    background: #f4f4f4;
    padding: 2em 3em;
}

form h1 {
    font-family: "Raleway";
    color:#F97300; 
}

form input[type=text]::placeholder {
    font-family: "Raleway";
    color:#666; 
}

form .data {
    margin-top: 1em;
}

form .data li {
    background: #fff;
    border-left: 4px solid #F97300;
    padding: 1em;
    margin: 1em auto;
    color: #666;
    font-family: "Raleway";
}

form .data li i {
    float: right;
    color: #888;
    cursor: pointer;
}

form .input-group-text {
    background: #F97300;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    padding: 1em 23px;
    color: #fff;
    position: absolute;
    right: 13px;
    top: 68px;
    cursor: pointer;
}

form .input-group-text i {
    font-size: 2em;
}

form .form-control {
    height: 3em;
    font-family: "Raleway";
}

form .form-control:focus {
    box-shadow: 0;
}

.list-instyled {
    list-style: none;
    padding: 0;
}

form[_ngcontent-c0] .input-group-text[_ngcontent-c0] {
    background: #005479;
    transition-duration: .5s;
    margin-right: 20px;
}

form[_ngcontent-c0] .input-group-text[_ngcontent-c0]:hover {
    background: #00334a;
}

form[_ngcontent-c0] h1[_ngcontent-c0] {
    color: #005479;
    text-shadow: 0px 0px 3px #fff;
    font-weight: bold;
}

form[_ngcontent-c0] {
    background: #d4d4d4;
    border: 2px dashed #F97300;
}

form[_ngcontent-c0] .data[_ngcontent-c0] li[_ngcontent-c0] i[_ngcontent-c0] {
    transition-duration: .5s;
}

form[_ngcontent-c0] .data[_ngcontent-c0] li[_ngcontent-c0] i[_ngcontent-c0]:hover {
    color: #353535;
}

form[_ngcontent-c0] .data[_ngcontent-c0] li[_ngcontent-c0] {
    box-shadow: 0px 3px 4px #717171;
}